*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/vendor/ruby
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

/public/system
/speech_recognition/models/hidden_markov_model/*
/speech_recognition/models/dictionary/*
/speech_recognition/models/language_model/*
/speech_recognition/tools/fatpocketsphinx/*

*.DS_Store
*.rbc
*.sassc
.sass-cache
.ruby-version
/coverage/
/spec/tmp/*
